.hero-section {
  padding-top: 70px;
  min-height: 100vh;
  background-image: url("../assets/images/Black Modern A letter Logo (4).png"); /* ✅ Background here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
